<div class="alertbar" style="display: none;">
    <div class="container text-center">
        <span style="font-size: 15px;">applanding.com Never miss a story from us, subscribe to our newsletter</span>
        <form>
            <div class="mc-field-group">
                <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL"
                    autocomplete="on" required="">
                <input type="submit" value="Subscribe" name="subscribe">
            </div>
        </form>
    </div>
</div>